<h2>Want to follow along? Get notified when I post my next update.</h2>
<form action="https://sendy.rinuu.com/subscribe" method="POST" accept-charset="utf-8">
	<label for="email" style="margin-right:10px;">Your Email Address: </label>
	<input type="email" name="email" id="email" placeholder="email@example.com" style="margin-right:10px;"/>
	<input type="hidden" name="list" value="G4TBL1FlPY9oUxI7632DGCYg"/>
	<input type="submit" name="submit" id="submit" value="Get Notified"/>
</form>
<br/>
<br/>
<span>{{ .Site.Copyright }}</span>
